body{
  margin: 0;
}

.OfferDiv{
  height: 6.5vh;
  background-color: #98a88d;
  font-family: var(--bs-body-font-family);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 0.8rem;
  font-family: Helvetica;
}

.navBar{
  height: 12vh;
  position: sticky;
  top: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  z-index: 1;
  /* background-color: white; */
}
.options{
  width: 30%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 0.7rem;
  font-family: Helvetica;
  margin-left: 1.5rem;
}

.options div{
  height: 90%;
}

.options:hover div{
  cursor: pointer;
}

.options div:hover{
  border-bottom: 1px solid white;
}

.nakedWay{
  display: flex;
  justify-content: space-between;
  width: 18%;
}
.nackJournals{
  display: flex;
  justify-content: space-between;
  width: 21%;
}
.icon-caret{
  height: 0.7rem;
  width: 0.7rem;
}

.userContainer{
  margin-right: -2rem;
  width: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  font-size: 0.7rem;
  font-family: Helvetica;
}
.userContainer:hover{
  cursor: pointer;
}
.aboutUs{
  padding: 0.3rem;
}
.aboutUs:hover{
  border-bottom: 1px solid white;
}
.icon-account{
  height: 1rem;
  width: 1rem;
}
.icon-cart-empty{
  height: 2rem;
  width: 2rem;
}

.slidshowContainer{
  margin-top: -12vh;
  height: 85vh;
  overflow: hidden;
  box-shadow: 0 2px 5px gray;
}
.slides{
  height: 90vh;
  display: flex;
  position: relative;
  animation-name: slideShow;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.slides div img{
  width: 100vw;
  height: 90vh;
}

.imgText{
  margin-left: 29vw;
  margin-top: -50vh;
  color: white;
  font-size: 2.5rem;
}

.imgSubText{
  margin-top: 0.5rem;
  margin-left: 24.8vw;
  color: white;
  font-size: 0.9rem;
  font-family: Helvetica;
}

.slideBtn{
  margin-top: 5vh;
  margin-left: 45vw;
  border: none;
  background-color: black;
  color: white;
  height: 3rem;
  width: 12rem;
  font-weight: 700;
  letter-spacing: 1px;
}
.slideBtn:hover{
  cursor: pointer;
  background-color: rgb(30, 30, 30);
  color: rgb(248, 223, 175);
}

.productSlideShow{
  display: flex;
}

.reviews{
  position: fixed;
  top: 36vh;
  right: 0;
  height: 35vh;
  width: 2.5vw;
  border: 1px solid black;
  background-color: black;
}
.reviews svg{
  height: 7%;
  padding-left: 0.7rem;
  margin-top: 1rem;
}
.chatwithUs{
  height: 40px;
  width: 40px;
  position: fixed;
  right: 2vw;
  bottom: 4vh;
  border: 1px solid black;
  background-color: black;
  border-radius: 50%;
  box-shadow: 1px -0.5px 15px gray;
}

.chatwithUs svg{
  height: 25px;
  width: 25px;
  margin-left: 0.55rem;
  margin-top: 0.4rem;
}

.tagLine{
  font-weight: 700;
  font-size: 0.8rem;
  margin-top: 10vh;
  margin-left: 45vw;
}

.productSlideShow{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  border: 1px solid red;
}
.productBlogs{
  height: 480vh;
  border: 1px solid blue;
}
.abtPursuit{
  height: 80vh;
  border: 1px solid black;
}

.journalsContainer{
  height: 150vh;
  background-color: #f9f6ef;
  display: flex;
  flex-direction: column;
}
.journalsContainer .heading{
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}
.journal{
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.j1, .j2, .j3{
  height: 80%;
  width: 29%;
  display: flex;
  flex-direction: column;
}
.jImg{
  display: flex;
  justify-content: center;
  height: 40%;
  overflow: hidden;
  position: relative;
}
.jImg img{
  transform: scaleX(200%);
  transform: scaley(100%);
}
.jcLinks{
  height: 20%;
}
.jcHeading{
  height: 40%;
  font-size: 1.5rem;
  font-weight: 700;
}
.jcText{
  height: 60%;
  margin-top: 1rem;
  font-weight: 500;
}
.jcReadMore{
  height: 20%;
  margin-top: 1.5rem;
  font-weight: 700;
  text-decoration: underline #ffca84 2px;
}
.footer{
  display: flex;
  flex-direction: column;
  height: 84.5vh;
  background-color: black;
}
.contactDetails{
  height: 70%;
  display: flex;
}
.footlogo{
  display: flex;
  justify-content: center;
  width: 15%;
}
.footlogo img{
  margin-top: 50%;
  height: 8%;
}
.footlogo img:hover{
  cursor: pointer;
}
.socials{
  display: flex;
  justify-content: space-evenly;
  width: 15%;
}
.socials svg{
  height: 5%;
  margin-top: 55%;
}
.links{
  display: flex;
  flex-direction: column;
  width: 35%;
}
.l1{
  margin-top: 10%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}
.l2, .l3{
  margin-top: 3%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}
.l1 p, .l2 p, .l3 p{
  border-bottom: 1px solid white;
}
.links:hover p{
  cursor: pointer;
}
.form{
  margin-top: 1rem;
  width: 35%;
}
.sit{
  color: white;
  font-size: 2rem;
}
.textBox{
  margin-top: 1rem;
}
.textBox input{
  width: 80%;
  height: 10vh;
  background-color: transparent;
  border: 1px solid white;
  padding-left: 1rem;
  color: white;
  outline: none;
  font-size: 1rem;
}
.check{
  margin-top: 0.5rem;
  color: white;
}
.form .btn button{
  margin-top: 1.5rem;
  width: 85%;
  height: 10vh;
  color: black;
  font-weight: 700;
  border: none;
  background-color: #face93;
  border-radius: 5px;
}
.reserved{
  padding-top: 3%;
  text-align: center;
  color: rgb(170, 170, 170);
  font-size: 1.3rem;
  font-weight: 300;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* ---------------------Slide Show Animation---------------------- */

@keyframes slideShow{
  0%{left:0vw}
  10%{left:0vw}
  20%{left:0vw}
  /* 30%{left:-100vw} */
  40%{left:-100vw}
  50%{left:-100vw}
  60%{left:-100vw}
  /* 70%{left:-200vw} */
  80%{left:-200vw}
  90%{left:-200vw}
  100%{left: -200vw;}
}